:root {
  //FONTS
  --ff-primary: 'Poppins', sans-serif;
  --ff-logo: 'Noto Serif Georgian', cursive;

  //COLORS
  --text-color-primary: #000;
  --text-color-secondary: #fff;
  --color-positive: #00aa0c;
  --color-negative: #da1418;

  //GRADIENTS
  --gradient-atp: linear-gradient(to right, #1488cc, #2b32b2);
  --gradient-wta: linear-gradient(to right, #cc2b5e, #753a88);
  --gradient-home: linear-gradient(to right, #009fff, #ec2f4b);

  //TRANSITIONS
  --transition-primary: 0.1s all linear;
}
