.atp {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 0;
  background: var(--gradient-atp);

  main {
    width: 90%;
    min-height: 130vh;
    margin-inline: auto;
    background-color: var(--text-color-secondary);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 5px;
    padding-bottom: 15px;
    position: relative;

    .rankings-filter {
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      gap: 15px;

      select {
        padding: 5px;
        text-transform: capitalize;
        border: var(--border-light);
        border-radius: 3px;
        cursor: pointer;
      }

      .refresh-icon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .atp-rankings-header {
      padding: 15px 0;
      font-size: 14px;
      border-bottom: var(--border-light);
      border-top: var(--border-light);
      // position: fixed;
      z-index: 10;
      background-color: var(--text-color-secondary);
    }

    .atp-rankings-header,
    .atp-rankings-row {
      display: grid;
      grid-template-columns: 1fr 2fr repeat(3, 1fr);
      text-align: center;
      align-items: center;
    }
  }
}
