.home {
  min-height: 100vh;
  background: var(--gradient-home);
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;

  h1 {
    color: var(--text-color-secondary);
    font-size: 4rem;
    border: 1px solid var(--text-color-secondary);
    padding: 10px 30px;
    border-radius: 8px;
    transition: var(--transition-primary);

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
