nav {
  width: 100%;
  padding: 20px;
  background-color: var(--text-color-secondary);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: absolute;
  top: 0;

  .nav-wrapper {
    width: 90%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      display: flex;
      gap: 20px;
      align-items: center;

      h1 {
        font-family: var(--ff-logo);
        border-right: 1px solid rgb(119, 118, 118);
        padding-right: 40px;
      }

      img {
        height: 30px;
      }
    }

    ul {
      li {
        cursor: pointer;
        transition: var(--transition-primary);

        &:hover {
          opacity: 0.7;
        }
      }

      li:last-child {
        display: none;
      }
    }

    .search-icon {
      margin-left: auto;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 730px) {
  nav {
    .nav-wrapper {
      ul {
        li:not(li:first-child):not(li:last-child) {
          display: none;
        }

        li:last-child {
          display: flex;
          align-items: center;
          gap: 2px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  nav {
    .nav-wrapper {
      .logo {
        h1 {
          padding-right: 10px;
        }
      }

      ul {
        li:first-child {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 372px) {
  nav {
    .nav-wrapper {
      width: 100%;

      .logo {
        img {
          height: 20px;
        }

        h1 {
          font-size: 1.3rem;
        }
      }
    }
  }
}
